---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign category_publications = site.publications | where: "category", category[0] | sort: "order" %}
    {% if category_publications.size > 0 %}
      <h2>{{ category[1].title }}</h2><hr />
      {% for post in category_publications %}
        {% include archive-single.html %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign sorted_publications = site.publications | sort: "order" %}
  {% for post in sorted_publications %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
